* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    padding-left: 0;
    list-style: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
}
.grid-col-2-pc {
    grid-template-columns: auto auto;
}
.grid-col-3-pc {
    grid-template-columns: auto auto auto;
}
.grid-item {
    text-align: center;
    padding: 0 8px;
    margin-bottom: 32px;
}

.title {
    font-weight: 700;
    line-height: 100%;
    user-select: none;
}

.navbar-text {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 170%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.line {
    width: 640px;
    height: 0px;
    border-bottom: 2px solid var(--text-color);
}

.btn {
    border: none;
}