/* Css header */
#header {
    inset: 0 0 auto 0;
    justify-content: space-between;
    padding: 2rem 5rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}

.logo__wrapper {
    max-width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 12px 0;
    width: 45rem;
    justify-content: space-between;
}
.navbar-text {
    padding: 8px 0;
}
.navbar-text:hover {
    color: #0096c7;
}

.menu__mobile-wrapper {
    display: none;
}

/* Css footer */
#footer {
    padding: 80px 0 20px 0;
    background-color: var(--black-color);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
}

.footer__contact-wrapper {
    margin-top: 12px;
    margin-bottom: 40px;
}
.contact__list {
    width: 200px;
    justify-content: space-between;
}

.footer__content {
    margin-top: 12px;
}
.footer__content-text {
    font-size: 1.6rem;
    font-weight: 400;
}

.contact__link {
    color: var(--text-secondary-color);
    font-size: 1.6rem;
    text-decoration: underline;
}

.footer__copyright-text {
    font-size: 1.2rem;
}

.footer__text {
    color: var(--text-secondary-color);
    text-align: center;
}

@media only screen and (max-width: 739px) {
    #app {
        overflow: hidden;
    }
    #header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: var(--header-height-mobile);
        padding: 15px 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .logo__wrapper {
        width: 65%;
    }
    .logo__link {
        display: flex;
        align-items: center;
        width: 100%;
    }
    #logo {
        width: 100%;
    }
    .navbar__wrapper {
        display: none;
        position: absolute;
        top: var(--header-height-mobile);
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        animation: nav-into .3s linear;
    }
    .navbar__list {
        flex-direction: column;
        width: 100%;
    }
    .nav__item-wrapper {
        display: flex;
        justify-content: center;
    }
    .nav__item-wrapper + .nav__item-wrapper {
        border-top: 1px solid rgb(233, 232, 232);
    }
    .nav__text {
        width: 100%;
    }

    .menu__mobile-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
    }
    .menu__mobile-btn {
        background-color: transparent;
    }
    .menu__mobile-btn > i {
        font-size: 1.8rem;
    }
    .menu__mobile-checkbox:checked ~ .navbar__wrapper {
        display: block;
    }


    .footer__wrapper {
        width: 100%;
    }
    .footer__content {
        display: flex;
        justify-content: center;
    }
    .footer__content-text {
        width: 65%;
    }

    @keyframes nav-into {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}